.externalToolBuilders
.output
.cache
.classpath
*.class
target/classes/*
*.csv
.pydevproject
src/main/java/com/d2s/test/*
filename.txt
.project

/target
.tmp
*Results
src/main/resources/swdf*
src/main/resources/biomed*
tools/sp2b/*.nt
tools/sp2b/*.n3
*QueryTriples


/input
/repo
/static
/cache
/output
*.jar
/test*
